<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>First team</th>
      <th>Second team</th>
      <th>Winning team</th>
      <th>First team score</th>
      <th>Second team score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.date %></td>
        <td><%= game.location %></td>
        <td><%= game.first_team_id %></td>
        <td><%= game.second_team_id %></td>
        <td><%= game.winning_team %></td>
        <td><%= game.first_team_score %></td>
        <td><%= game.second_team_score %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
